<h1>Stupid Coaching</h1>

<div class="container me">
  <h2><%=@answer%></h2>
  <h2><em>- You</em></h2>
</div>
<br>
<div class="container coach">
  <h2><%=@reply%></h2>
  <h2><em>- Your coach</em></h2>
</div>

<%=link_to "Go back to ask", ask_path%>
